
%table
  %tbody
    %tr
      %td.header{"data-bind"=>"text:$root.label.#{mode}()","colspan"=>4}
    / ko foreach:categories
    %tr
      %td{"data-bind"=>"text:title","colspan"=>4}
    / ko foreach:items
    %tr
      %td{"data-bind"=>"text:title"}
      / ko foreach:months
      %td
        %input{"data-bind"=>"value:$root.value.#{mode}($data)","type"=>"text","size"=>"6"}
      / /ko
      :plain
        <!-- ko foreach:$root.summary.#{mode}(months) -->
      %td{"data-bind"=>"text:$data"}
      / /ko
    / /ko
    / /ko