
:javascript
  parsedCategories=ko.mapping.fromJS(#{@categories});
  
= render partial:"sheet", locals:{mode:"revenue",field:"sales"}
<p>###############################################################</p>
= render partial:"sheet", locals:{mode:"purchase",field:"purchase"}